.breadcrumb{
	background: transparent;
	padding: 20px 0;
	margin-bottom: 0;
}
.breadcrumbs-block{
	border-bottom: 1px solid #2d3a4b;
}
.breadcrumb > li:first-child a{
	bottom: -2px;
}
.breadcrumb > li > a{
	color: #2d3a4b;
	font-size: 18px;
	font-weight: 400;
	position: relative;
}
.breadcrumb > .active{
	color: #2d3a4b;
	font-size: 18px;
	font-weight: 400;
	opacity: 0.8;	
}
.breadcrumb > li{
	padding-right: 15px;
}
.breadcrumb > li + li:before{
	color: #2d3a4b;
	font-size: 18px;
	font-weight: 400;
	padding: 0 15px;
}
.breadcrumb > li.active i{
	opacity: 0.8;
}