.btn.btn-danger{
	border-color: #e3564e;
	background-color: #e3564e;
}
.btn.btn-lg{
	line-height: 47px;
}
.btn{
	padding: 0 30px;
	border-radius: 25px;
	color: #ffffff;
	font-size: 13px;
	font-weight: 400;
	text-transform: uppercase;
}
.btn-bilbord{
  line-height: 60px !important;
  color: #ffffff;
	font-family: "Proxima Nova Light";
	font-size: 18px;
	font-weight: 400;
	text-transform: uppercase;
  border-radius: 30px;
}
.btn-bilbord:hover,
.btn-bilbord:focus{
	color: #fff;
	opacity: 0.8;
}