$icon-font-path: '../fonts/';
// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "bower_components/slick-carousel/slick/slick.scss";
// endbower
$body-bg: red !default;
$black-gray: #2d3a4b;

@import "fonts.scss";
 
@import "navbar.scss";
@import "breadcrumbs.scss";
@import "buttons.scss";

i.icons {
  display: inline-block;
}

i.icons.home-icon {
  background: url('./../images/contacts-sprite.svg') no-repeat -1px 0;
  width: 18px;
  height: 18px;
}

i.icons.phone-sl-contacts {
  background: url('./../images/contacts-icons.svg') no-repeat 0 0;
  width: 19px;
  height: 19px;
}

i.icons.address-sl-contacts {
  background: url('./../images/contacts-icons.svg') no-repeat -515px 0;
  width: 14px;
  height: 20px;
}

i.icons.clock-sl-contacts {
  background: url('./../images/contacts-icons.svg') no-repeat -1362px 0;
  width: 20px;
  height: 20px;
}

i.icons.footer-tel {
  background: url('./../images/footer-contacts-sprite.svg') no-repeat -1px 0;
  width: 12px;
  height: 12px;
}

i.icons.footer-mail {
  background: url('./../images/footer-contacts-sprite.svg') no-repeat 0 -36px;
  width: 13px;
  height: 10px;
}

i.icons.facebook {
  background: url('./../images/socials-sprite.png') no-repeat -60px 0;
  width: 40px;
  height: 40px;
}

i.icons.twitter {
  background: url('./../images/socials-sprite.png') no-repeat 0 0;
  width: 40px;
  height: 40px;
}

i.icons.skype {
  background: url('./../images/socials-sprite.png') no-repeat -120px 0;
  width: 40px;
  height: 40px;
}

.advantages i.icons {
  background: url(./../images/advantages-sprite.svg) no-repeat;
}

i.icons.advantages-1 {
  background-position: 0 -5px;
  width: 68px;
  height: 70px;
}

i.icons.advantages-2 {
  background-position: -275px 0;
  width: 76px;
  height: 75px;
}

i.icons.advantages-3 {
  background-position: -569px 0;
  width: 71px;
  height: 70px;
}

i.icons.advantages-4 {
  background-position: -820px -2px;
  width: 119px;
  height: 72px;
}

i.icons.advantages-5 {
  background-position: -21px -253px;
  width: 107px;
  height: 70px;
}

i.icons.advantages-6 {
  background-position: -422px -256px;
  width: 70px;
  height: 68px;
}

i.icons.advantages-7 {
  background-position: -804px -244px;
  width: 62px;
  height: 75px;
}

body {
  overflow-x: hidden;
}

* {
  font-family: 'ProximaNovaRegular';
}

*:focus {
  outline: none !important;
}

body {
  background-color: #f7f7f7;
}

.main {
  max-width: 1490px;
  margin: auto;
}

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.vcenter>* {
  display: inline-block;
  vertical-align: middle;
  margin-right: -3px;
  float: none;
}

ul,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

// slider
.home-sl__single {
  position: relative;
  width: 100%;
  height: 800px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.home-sl__single:before {
  position: absolute;
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(1, 57, 132, 0.7);
  z-index: 9;
}

.home-sl__title {
  font-weight: 400;
  color: #ffffff;
  font-size: 60px;
  padding-bottom: 5px;
}

.home-sl .main {
  position: relative;
  z-index: 99;
  text-align: center;
}

.home-sl__text {
  font-size: 22px;
  line-height: 26px;
  color: #fff;
  max-width: 725px;
  margin: auto;
  font-family: "Proxima Nova Light";
  font-weight: 300;
  padding-bottom: 31px;
}

.home-sl .slick-dots {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 102px;
  text-align: center;
}

.home-sl .slick-dots>li {
  display: inline-block;
  padding-left: 14px;
  padding-right: 14px;
}

.home-sl .slick-dots>li>button {
  background: transparent;
  border: none;
  width: 12px;
  height: 12px;
  background-color: #ffffff;
  border-radius: 50%;
  padding: 0;
  overflow: hidden;
  text-indent: -999999px;
}

.home-sl .slick-dots>li.slick-active>button {
  background-color: #e3564e;
}

.home-sl .slick-arrow {
  background: url(./../images/slick-arrow-home.svg) no-repeat center;
  border: none;
  width: 41px;
  height: 30px;
  position: absolute;
  left: 53px;
  top: 50%;
  margin-top: -15px;
  overflow: hidden;
  text-indent: -9999px;
  transition: all 0.3s;
  z-index: 9999;
}

.home-sl .slick-arrow:hover {
  opacity: 0.7;
}

.home-sl .slick-arrow.slick-disabled {
  opacity: 0;
}

.home-sl .slick-arrow.slick-next {
  left: auto;
  right: 53px;
  transform: rotate(-180deg);
}

.home-sl .slick-arrow.slick-prev {
  left: 53px;
  right: auto;
}

// contacts below home slider
.contacts-below-sl {
  margin-top: -65px;
  border-top: 2px solid #f3f3f4;
  position: relative;
  z-index: 9999;
  padding-top: 18px;
}

.sl-contacts,
.sl-contacts a {
  color: #ffffff;
  font-size: 20px;
  font-weight: 400;
  line-height: 22px;
  font-family: "Proxima Nova Light";
}

.sl-contacts i.icons {
  margin-right: 10px;
}

.sl-contacts>div {
  text-align: center;
}

.sl-contacts>div:first-child {
  text-align: left;
}

.sl-contacts>div:last-child {
  text-align: right;
}

#home-events {
  padding-top: 25px;
  margin-bottom: 80px;
}

// block head
.block-head {
  text-align: center;
  padding-top: 40px;
  margin-bottom: 40px;
  position: relative;
}

.block-head>h4 {
  color: #000000;
  font-size: 45px;
  font-weight: 400;
}

.block-head__nav {
  position: absolute;
  right: 0;
  text-align: right;
  top: 50%;
}

.block-head__nav>li {
  list-style: none;
  display: inline-block;
  margin-left: 20px;
}

.block-head__nav>li>a {
  padding: 0px 22px;
  border-radius: 20px;
  line-height: 38px;
  border: 1px solid #00a2ff;
  display: inline-block;
  color: #00a2ff;
  font-size: 13px;
  font-weight: 400;
  text-transform: uppercase;
  font-family: "Proxima Nova Light";
}

.block-head__nav>li>a:hover {
  text-decoration: none;
}

.block-head__nav>li.active>a,
.block-head__nav>li>a:focus {
  background: #00a2ff;
  color: #fff;
  text-decoration: none;
}

.events-list>div {
  margin-bottom: 10px;
  margin-right: 10px;
  display: inline-block;
  width: 24.2%;
  vertical-align: top;
}

.events-list>div:nth-child(4n) {
  margin-right: -4px;
}

.event-preview {
  max-width: 365px;
  height: 365px;
  background: #fff;
  padding: 36px 20px 20px 20px;
  box-sizing: border-box;
  text-align: center;
  transition: all 0.3s;
}

.event-preview:hover {
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
}

.event-preview__title {
  margin-bottom: 10px;
}

.event-preview__title>a {
  color: #2d3a4b;
  font-size: 22px;
  font-weight: 400;
  line-height: 24px;
  text-decoration: none;
}

.event-preview__image {
  width: 205px;
  height: 205px;
  margin: auto;
  margin-bottom: 20px;
}

.event-preview__btn .btn {
  display: block;
  width: 100%;
  max-width: 205px;
  margin: auto;
  font-size: 18px;
  font-family: "Proxima Nova Light";
}

.event-preview__btn .btn:hover>span:first-child {
  display: none;
}

.event-preview__btn .btn:hover>span:last-child {
  display: block !important;
}

.event-preview__btn .btn:hover {
  background: transparent;
  color: #e3564e;
}

// Footer
.footer {
  background: $black-gray;
  padding: 54px 0;
  color: #ffffff;
  font-family: "Proxima Nova Light";
  font-size: 18px;
}

.footer__contacts {
  margin-bottom: 0;
}

.footer__contacts>li {
  list-style: none;
}

.footer__contacts>li>a {
  color: #ffffff;
  font-family: "Proxima Nova Light";
  font-size: 18px;
  font-weight: 400;
  line-height: 35px;
}

.footer__contacts>li i {
  margin-right: 11px;
}

.footer__contacts>li>a:hover i {
  opacity: 0.8;
}

// History page
.page-title {
  padding: 69px 0;
  text-align: center;
}

.page-title>h1 {
  color: #000000;
  font-family: "Proxima Nova Light";
  font-size: 40px;
  font-weight: 400;
  line-height: 40px;
}

.time-line__item {
  margin-bottom: 75px;
}

.time-line__item>* {
  display: inline-block;
  vertical-align: top;
  margin-right: -4px;
}

.time-line__item__year {
  width: 13%;
  color: #2d3a4b;
  font-size: 40px;
  font-weight: 400;
  line-height: 36px;
  border-top: 2px solid #00a2ff;
  padding-top: 10px;
  margin-right: 2%;
}

.time-line__item__description {
  width: 85%;
  color: #000000;
  font-size: 22px;
  font-weight: 400;
  position: relative;
  top: -5px;
  line-height: 26px;
}

.time-line__item__description ul {
  padding-left: 20px;
}

.time-line__item__gallery>div:first-child {
  margin-left: 0px;
}

.time-line__item__gallery>div:last-child {
  margin-right: 0;
}

.time-line__item__gallery>div {
  display: inline-block;
  vertical-align: top;
  margin-right: -4px;
  position: relative;
  box-sizing: border-box;
  margin-bottom: 20px;
  margin-right: 20px;
  width: 293px;
  height: 195px;
  overflow: hidden;
}

.time-line__item__gallery>div img {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
}

.time-line__item__gallery {
  padding-top: 20px;
}

// contacts cards
.contacts-list {
  text-align: center;
}

.contacts-list>div {
  display: inline-block;
  vertical-align: top;
  padding-left: 35px;
  position: relative;
  margin-right: 72px;
  text-align: left;
  margin-bottom: 55px;
}

.contacts-list>div:last-child {
  margin-right: 0;
}

.contacts-list>div,
.contacts-list>div a {
  font-family: "Proxima Nova Light";
  font-weight: 400;
  line-height: 24px;
  font-size: 20px;
  color: #000000;
}

.contacts-list>div a:hover {
  text-decoration: none;
  opacity: .5;
}

.contacts-list>div:before {
  position: absolute;
  left: 0;
  top: 0;
  width: 17px;
  height: 24px;
  content: '';
  display: block;
  background: url(./../images/contacts_sprite.svg) no-repeat;
}

.blue-bg {
  background-color: #00a2ff;
  padding: 75px 0;
}

.feedback-form__title {
  color: #ffffff;
  font-family: 'ProximaNovaBold';
  font-size: 30px;
  font-weight: 700;
  padding-bottom: 40px;
  text-align: center;
}

.feedback-form__form .form-control {
  padding: 29px;
  text-align: center;
  background: transparent;
  border-radius: 30px;
  border: 1px solid #ffffff;
  color: #ffffff;
  font-family: "Proxima Nova Light";
  font-size: 18px;
  font-weight: 400;
}

.feedback-form__form textarea.form-control {
  padding-top: 20px;
  height: 210px;
  resize: none;
}

.feedback-form__form .btn {
  width: 210px;
  height: 60px;
  border-radius: 30px;
  background-color: #ffffff;
  color: #00a2ff;
  border-color: transparent;
  font-family: "Proxima Nova Light";
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
}

.feedback-form__form .form-control::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #fff;
}

.feedback-form__form .form-control::-moz-placeholder {
  /* Firefox 19+ */
  color: #fff;
}

.feedback-form__form .form-control:-ms-input-placeholder {
  /* IE 10+ */
  color: #fff;
}

.feedback-form__form .form-control:-moz-placeholder {
  /* Firefox 18- */
  color: #fff;
}

.map {
  position: relative;
}

.map:before {
  position: absolute;
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.map>iframe {
  width: 100% !important;
  height: 365px !important;
}

article {
  padding-top: 70px;
  margin-bottom: 45px;
  color: #000000;
  font-family: "Proxima Nova Light";
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
}

article p,
article ol,
article ul {
  padding-top: 15px;
  padding-bottom: 15px;
}

article h1 {
  text-align: center;
  font-size: 45px;
  padding-bottom: 10px;
  padding-top: 10px;
}

article h4 {
  text-align: center;
  font-size: 32px;
  padding-bottom: 10px;
  padding-top: 10px;
}

article li {
  padding-top: 15px;
  padding-bottom: 15px;
}

// note
.note {
  background: #f7f7f7;
  padding: 44px 0 33px 0;
  margin-bottom: 20px;
}

.note.no-bg {
  background: transparent;
}

body.white-bg {
  background: #fff;
}

.note .text-muted {
  color: #000000;
  font-family: "Proxima Nova Light";
  line-height: 28px;
  font-size: 22px;
}

.panel-heading {
  background-color: #f7f7f7;
  padding: 22px 32px;
  border-radius: 0;
  border-left-color: transparent;
  border-right-color: transparent;
  position: relative;
}

.panel-heading a:after {
  content: '';
  display: block;
  background: url(./../images/collapse_arrow.svg);
  width: 12px;
  height: 16px;
  position: absolute;
  right: 32px;
  top: 50%;
  margin-top: -8px;
  transform: rotate(180deg);
}

.panel-heading a[aria-expanded="true"]:after {
  transform: rotate(0deg);
}

.panel-default>.panel-heading+.panel-collapse>.panel-body {
  border-top-color: #535f6d;
}

.panel-default {
  border-top-color: #535f6d;
}

.panel-default {
  border-left-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
}

.panel-title,
.panel-title>a,
.panel-title>a:hover {
  color: #000000;
  text-decoration: none;
  font-size: 22px;
  font-weight: 700;
  line-height: 26px;
}

.panel-group .panel {
  border-radius: 0;
}

.panel-group .panel {
  margin-bottom: -5px;
}

.panel-group-services .panel-body ul {
  padding-left: 32px;
}

.panel-group-services .panel-body ul li {
  color: #000000;
  font-family: "Proxima Nova Light";
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
}

.gray-bg {
  background-color: #f7f7f7;
}

.gallery-card {
  margin-bottom: 30px;
}

.gallery-card__image {
  position: relative;
  height: 320px;
  width: 100%;
  overflow: hidden;
}

.gallery-card__image img {
  position: absolute;
  left: 0;
  top: 0;
  max-width: 100%;
  height: auto;
  bottom: 0;
  right: 0;
  margin: auto;
}

.gallery-card__caption {
  background: #fff;
  font-family: "Proxima Nova Light";
  padding: 28px 18px;
  color: #000000;
  font-size: 16px;
  line-height: 20px;
  height: 160px;
}

.gallery-card__caption strong {
  font-family: 'ProximaNovaBold';
}

.portfolio-item {
  overflow: hidden;
  margin-bottom: 15px;
}

.portfolio {
  margin-bottom: 30px;
}

// advantages
.advantages .block-head>h4 {
  font-size: 36px;
}
.advantages{
  padding-bottom: 40px;
}
.advantages-card {
  text-align: center;
  color: #2d3a4b;
  font-family: "Proxima Nova Light";
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  height: 270px;
}

.advantages-card__image {
  height: 95px;
}

.advantages-card__image>* {
  margin: auto;
}
.p-note{
  padding-left: 58px;
  position: relative;
  padding-top: 35px;
}
.p-note:before{
  position: absolute;
  left: 2%;
  top: 40px;
  background: url(./../images/star.svg) no-repeat center;
  content: '';
  width: 22px;
  height: 22px;
}
// order form
.order-form{
  padding-top: 10px;
  padding-bottom: 50px;
}
.order-form .form-control{
  background: rgba(45, 58, 75, 0.1);
  border-radius: 30px;
  padding: 29px;
  border-color: transparent;
  box-shadow: none;
  color: #94ecff;
  text-align: center;
  font-family: "Proxima Nova Light";
  font-size: 18px;
  font-weight: 400;
}
.order-form .control-label{
  color: #ffffff;
  font-family: "Proxima Nova Light";
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
}
.order-form .form-group{
  margin-bottom: 30px;
}
.order-form .block-head > h4{
  color: #fff;
  font-size: 32px;
  padding-bottom: 24px;
}
.order-form .btn{
  display: block;
  width: 100%;
  border-radius: 30px;
  border: 1px solid #ffffff;
  background-color: #ffffff;
  color: #00a2ff;
  font-family: "Proxima Nova Light";
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 60px;
}

// left nav
.left-nav{
  margin-left: -15px;
}
.left-nav > ul li a{
  padding: 12px 45px;
  display: block;
  color: #000000;
  font-family: "Proxima Nova Light";
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
  background-color: #f7f7f7;
  border-bottom: 1px solid rgba(45, 58, 75, 0.1);
}

.left-nav > ul li.active > a{
  background: #e2e3e5;
  position: relative;
}
.left-nav > ul li.active > a:after{
  content: '';
  position: absolute;
  right: -10px;
  transform: rotate(90deg);
  top: 50%;
  margin-top: -5px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 5px 12px 5px;
  border-color: transparent transparent #e2e4e5 transparent;
}

.left-nav > ul li{
  list-style: none;
}

.panel-equipment-head{
  color: #000000;
  font-family: "Proxima Nova Light";
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
  display: table;
  width: 100%;
}

.panel-equipment-head > div{
  display: table-cell;
  box-sizing: border-box;
  padding: 22px 0;
  border-top: 1px solid #2d3a4b;
}
.panel-equipment-head > div.code{
  width: 11.5%;
  padding-left: 33px;
}
.panel-equipment-head > div.name{
  width: 37%;
}
.panel-equipment-head > div.unit{
  width: 23%;
}
.panel-group-equipment .panel-title{
  display: table;
  width: 100%;
}
.panel-group-equipment .panel-title > *{
  display: table-cell;
}
.panel-group-equipment .panel-title > *:first-child{
  width: 9%;
}
.panel-group-equipment .panel-default > .panel-heading + .panel-collapse > .panel-body{
  padding: 0;
}
.panel-group-equipment .table tr td{
  border-top: none;
  border-bottom: 1px solid #2d3a4b;
  color: #000000;
  font-family: "Proxima Nova Light";
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  padding-top: 29px;
  padding-bottom: 29px;
}
.panel-group-equipment .table{
  margin-bottom: 0;
}
.panel-group-equipment .table tbody tr:last-child td{
  border-bottom: none;
}
.panel-group-equipment .table tbody tr td:first-child{
  width: 11%;
  padding-left: 33px;
}
.panel-group-equipment .table tbody tr td:first-child + td{
  width: 37%;
}
.panel-group-equipment .table tbody tr td:first-child + td + td{
  width: 23%;
}
.bilbord{
  margin-left: -15px;
  margin-right: -15px;
  background: url(./../images/bilbord-bg.jpg) left center;
}
.bilbord__image img{
  width: 100%;
  height: auto;
}
.bilbord__description__title{
  color: #ffffff;
  font-size: 40px;
  font-weight: 400;
  padding-top: 50px;
  margin-bottom: 20px;
}
.bilbord__description__date{
  position: relative;
  color: #ffffff;
  font-size: 30px;
  font-family: 'ProximaNovaBold';
  padding-left: 45px;
  margin-bottom: 20px;
}
.bilbord__description__date:before{
  background: url('./../images/bilbord-icons-sprite.svg') no-repeat -1px -1px;
  position: absolute;
  left: 0;
  top: 50%;
  content: '';
  margin-top: -18px;
  width: 26px;
  height: 30px;
}
.bilbord__description__address{
  position: relative;
  color: #ffffff;
  font-family: "Proxima Nova Light";
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  padding-left: 42px;
  margin-bottom: 40px;
}
.bilbord__description__address:before{
  background: url('./../images/bilbord-icons-sprite.svg') no-repeat 0 -53px;
  width: 21px;
  height: 30px;
  position: absolute;
  left: 0;
  top: 50%;
  content: '';
  margin-top: -18px;
}
.bilbord .list-inline{
  vertical-align: middle;
}

.btn-yellow{
  background-color: #f8c600;
}
.no-margin{
  margin-left: -15px;
  margin-right: -15px;
}
.event-card{
  background-color: #f8c600;
  padding: 30px 50px;
  padding-right: 93px;
  color: #fff;
}
.event-card__price{
  margin-bottom: 35px;
}
.event-card__price span{
  display: block;
  font-family: 'ProximaNovaBold';
  font-size: 30px;
  margin-bottom: 20px;
  font-weight: 700;
}

.event-card__price p{
  font-family: 'ProximaNovaBold';
  font-size: 40px;
  font-weight: 700;
  line-height: 26px;
}

.event-card__workhours{
  font-size: 20px;
  font-weight: 400;
  font-family: "Proxima Nova Light";
  line-height: 24px;
}

.event-feedback{
  padding: 45px 0;
  padding-bottom: 35px;
  background: url(./../images/yellow-feedback-bg.jpg) center;
}

.event-feedback .form-control{
  padding: 29px;
  border-radius: 30px;
  border: 1px solid #ffffff;
  background: transparent;
  color: #ffffff;
  font-family: "Proxima Nova Light";
  font-size: 18px;
  font-weight: 400;
  display: block;
  width: 100%;
  margin-bottom: 15px;
  text-align: center;
}
.event-feedback .form-control:focus{
  box-shadow: none;
}
.event-feedback .form-control::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #fff;
}

.event-feedback .form-control::-moz-placeholder {
  /* Firefox 19+ */
  color: #fff;
}

.event-feedback .form-control:-ms-input-placeholder {
  /* IE 10+ */
  color: #fff;
}

.event-feedback .form-control:-moz-placeholder {
  /* Firefox 18- */
  color: #fff;
}

.event-feedback .btn{
  display: block; width: 100%;
  height: 60px;
  border-radius: 30px;
  border: 1px solid #ffffff;
  background-color: #ffffff;
  color: #e88e00;
  font-family: "Proxima Nova Light";
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
}

img.img-left{
  float: left;
  margin-right: 40px;
  margin-bottom: 30px;
  margin-top: 30px;
}
.article-ul li{
  padding-bottom: 5px;
  padding-top: 5px;
  font-size: 22px;
}
.article-ul{
  padding-top: 0;
  padding-left: 30px;
}
.article-infoblock{
  height: 190px;
  text-align: center;
  margin-top: 60px;
  margin-bottom: 60px;
}
.article-infoblock__image{
  height: 100px;
}
.icon{
  display: inline-block;

}
.icon:before{
  content: "";
  display: block;
}
.icon-handshake:before{
  background: url('./../images/event-orange-icons.png') no-repeat 0 -10px;
  width: 90px;
  height: 52px;
}
.icon-mark:before{
  background: url('./../images/event-orange-icons.png') no-repeat -395px 0;
  width: 52px;
  height: 70px;
}
.icon-static:before{
  background: url('./../images/event-orange-icons.png') no-repeat -771px -1px;
  width: 70px;
  height: 70px;
}
.icon-userplus{
  background: url('./../images/event-orange-icons.png') no-repeat -13px -191px;
  width: 71px;
  height: 75px;
}