@media(max-width: 767px){
  .vcenter > *{
    display: block;
    float: left;
  }
  .header{
    padding-bottom: 10px;
    padding-top: 10px;
  }
  .header__nav > li{
    display: block;
  }
  .header .navbar-toggle{
    float: right;
    margin-top: 8px;
    margin-right: -10px;
  }
  .header__nav{
    text-align: center;
  }
  .header__nav > li{
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 10px;
  }
  .event-preview{
    display: block !important;
    width: 100% !important;
    margin: 10px auto !important;
  }
  .block-head__nav{
  	position: static;
  	display: block;
  	text-align: center;
  	padding-top: 10px;
  }
  .block-head > h4{
  	font-size: 24px;
  }
  .home-sl__text{
  	font-size: 15px;
  }
  .home-sl__text br{
  	display: none;
  }
  .home-sl__title{
  	font-size: 31px;
  	padding-top: 20px;
  }
  .home-sl .slick-dots{
  	bottom: 170px;
  }
  .contacts-below-sl{
  	margin-top: -160px;
  }
  .sl-contacts > div{
  	text-align: left !important;
  	margin-bottom: 10px;
  }
  .home-sl .slick-arrow{
  	display: none !important;
  }
  .sl-contacts, .sl-contacts a{
  	font-size: 16px;
  }
  .main{
  	max-width: 90%;
  }
  .block-head__nav > li{
    margin-bottom: 10px;
    margin-left: auto;
  }
  .footer__socials{
    padding-top: 15px;
  }
  .breadcrumb > li + li:before{
    padding: 0 5px;
  }
  .breadcrumb > li{
    padding-right: 0;
  }
  .page-title{
    padding: 30px 0;
  }
  .page-title > h1{
    font-size: 24px;
  }
  .time-line__item > *{
    display: block;
    margin-right: 0;
    margin-bottom: 10px;
  }
  .time-line__item__year{
    font-size: 24px;
    width: 18%; 
  }
  .time-line__item__gallery > div{
    width: 100%;
  }
  .time-line__item__description{
    width: 100%;
    font-size: 15px;
  }
  .time-line__item__description br{
    display: none;
  }
  .time-line__item{
    margin-bottom: 30px;
  }
  .contacts-list > div{
    display: block;
    margin-right: 0;
  }
  .feedback-form__title{
    font-size: 21px;
  }
  .blue-bg{
    padding: 30px 0;
  }

  .feedback-form__form .btn{
    margin-top: 15px;
    display: block;
    width: 100%;
  }
  .note .text-muted{
    font-size: 16px;
  }
  article{
    padding-top: 35px;
  }
  article h1{
    font-size: 32px;
  }
  article h4{
    font-size: 21px;
  }
  article{
    font-size: 15px;
  }
  .panel-title, .panel-title > a, .panel-title > a:hover{
    font-size: 15px;
    line-height: 18px;
  }
  .panel-group-services .panel-body ul li{
    font-size: 15px;
    margin-bottom: 10px;
  }
  .gallery-card__image,
  .gallery-card__caption{
    height: auto;
  }
  .gallery-card__image img{
    height: auto;
    position: static;
    width: 100%;
  }
  .left-nav{
    margin-right: -15px;
  }
  .panel-group-equipment .panel-title > *:first-child{
    width: 21%;
  }
  .panel-group-equipment .table tbody tr td{
    display: block;
    width: 100% !important;
  }
  .panel-group-equipment .table tbody tr td:first-child{
    padding-left: 10px;
  }
  .panel-group-equipment .table tr td{
    font-size: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .order-form .block-head > h4{
    font-size: 21px;
    padding-bottom: 0;
  }
  .advantages .block-head > h4{
    font-size: 21px;
  }
  .advantages-card{
    font-size: 17px;
    height: auto;
    margin-bottom: 30px;
  }
  .panel-group-equipment .table tbody > tr td:last-child{
    border-bottom-color: #c1c1c1;
  }
  .panel-group-equipment .table tr td{
    border-bottom-color: transparent;
  }
} 