.header{
	border-bottom: 1px solid #2d3a4b;
    padding-bottom: 20px;
    background: #fff;
}
.header.no-border{
	border-bottom-color: transparent;
}
.header__nav{
    text-align: right;
    padding-top: 24px;
}
.header__nav > li{
    display: inline-block;
    vertical-align: middle;
    list-style: none;
    padding-left: 20px;
    padding-right: 20px;
}
.header__nav > li:first-child{
	padding-left: 0;
}
.header__nav > li:first-child{
	padding-right: 0;
}
.header__nav > li > a,
.header__nav > li{
    font-size: 16px;
    color: #2d3a4b;
    text-transform: uppercase;
}
.header__nav > li > a:hover,
.header__nav > li > a:focus{
	text-decoration: none;
	font-weight: bold;
}
.navbar-toggle .icon-bar{
    background: #2d3a4b;
}
.header__nav > li.lang > a{
    line-height: 38px;
    display: inline-block;
    width: 40px;
    border: 1px solid #2d3a4b;
    border-radius: 50%;
    text-align: center;
}