@media(min-width: 992px) and (max-width: 1180px){
  .events-list > div{
    margin-right: 5px;
  }
  .header__nav > li{
    padding-left: 10px;
    padding-right: 10px;
  }
  .sl-contacts, .sl-contacts a{
    font-size: 15px;
  }
}

@media(min-width: 767px) and (max-width: 991px){
  .main{
  	max-width: 760px;
  } 
  .header__nav{
  	text-align: center;
  }
  .header__logo{
  	text-align: center;
  }
  .header__logo img{
  	margin: auto;
  }
  .home-sl__title{
  	padding-top: 150px;
  }
  .sl-contacts, .sl-contacts a{
  	font-size: 14px;
  }
  .events-list > div{
  	width: 32%;
  }
  .events-list > div:nth-child(3n){
  	margin-right: -4px;
  }
  .events-list > div:nth-child(4n){
  	margin-right: 10px;
  }
  .block-head > h4{
  	font-size: 24px;
  }
  .block-head{
    text-align: left;
  }
  .header__nav > li > a, .header__nav > li{
  	font-size: 12px;
  }
  .header__nav > li{
  	padding-left: 10px;
  	padding-right: 10px;
  }
  .time-line__item__gallery > div{
    width: 270px;
  }
  .contacts-list{
    text-align: left;
  }
  .contacts-list > div{
    width: 50%;
    margin-right: -4px;
  }
  .feedback-form__form .btn{
    margin-top: 15px;
    display: block;
    width: 100%;
  }
  .page-title{
    padding: 30px 0;
  }
}